.home {
	padding: var(--page-padding-top) 14px;
	text-align: center;
}

.hero-image {
	width: 200px;
	height: 200px;
	border: 4px solid #014D4C;
	border-radius: 26px;
}

@media only screen and (min-width: 600px)  {
	.home {
		text-align: left;
	}

	.hero-image {
		margin-right: 21px;
		float: left;
	}
}
