.header {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	position: relative;
}

.header-container {
	position: fixed;
	left: 0;
	width: 100%;
}

.header-secondary {
	background: #004d4d;
	z-index: 48;
}

.header-menu {
	background: teal;
	z-index: 49;
}

.header-primary {
	height: 56px;
	background: teal;
	z-index: 50;
}

.header-primary h1 {
	float: left;
	margin: 0;
	font-size: 20px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

.header-menu nav a {
	display: flex;
	height: 56px;
	line-height: 56px;
	font-size: 24px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
	cursor: pointer;
}

.header-menu nav a:not(:last-child) {
	border-bottom: 1px solid #004d4d;
}

.header-menu nav a:hover,
.header-menu nav a:active {
	background: rgba(0,0,0,0.2);
}

.header-menu nav a.active {
	background: #004d4d;
}

.menu-text {
	text-transform: capitalize;
	font-size: 20px;
}

.menu-link-wrapper {
	display: flex;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.content {
	max-width: 1080px;
	margin: auto;
	padding-left: 14px;
	height: 100%;
}

.check {
	width: 56px;
}

.hamburger-buns {
	float: right;
	margin-right: 14px;
	height: 56px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
	height: 5px;
	border-radius: 4px;
  background-color: white;
  margin: 6px 0;
	transition: 0.2s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.icon {
	width: 70px;
}

.header a, .header div {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
