.tracker {
	padding: var(--page-padding-top) 14px 56px;
	width: 100%;
}

.title {
	text-transform: capitalize;
	margin-right: 20px;
}

.title-row {
	display: flex;
	align-items: center;
}

h1 {
  margin-bottom: 6px;
}

@keyframes ldio-57juryv5dwc-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(50px,0) }
   50%    { opacity: 0; transform: translate(50px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-57juryv5dwc {
    0% { transform: translate(0,0) }
   50% { transform: translate(50px,0) }
  100% { transform: translate(0,0) }
}
.ldio-57juryv5dwc div {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 25px;
  left: 0px;
  margin-top: 16px;
}
.ldio-57juryv5dwc div:nth-child(1) {
  background: #014d4c;
  animation: ldio-57juryv5dwc 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-57juryv5dwc div:nth-child(2) {
  background: #20b1a9;
  animation: ldio-57juryv5dwc 1s linear infinite;
  animation-delay: 0s;
}
.ldio-57juryv5dwc div:nth-child(3) {
  background: #014d4c;
  animation: ldio-57juryv5dwc-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-ypssij3d88 {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-57juryv5dwc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-57juryv5dwc div { box-sizing: content-box; }
