.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 14px;
}

.login {
  width: 260px;
  height: 50px;
  background: white;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.info-container {
  color: white;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  float: left;
  margin-right: 12px;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}

.settings {
  cursor: pointer;
  background: white;
  display: inline-block;
  color: black;
  padding: 2px 8px;
  border: 1px solid white;
  border-radius: 4px;
  margin-right: 14px;
  text-decoration: none;
}
